In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
dataset=pd.read_csv("Placement.csv")

In [4]:
from Univariate import Univariate

In [5]:
qual,quan=Univariate.Quanqual(dataset)

In [6]:
qual

['gender',
 'ssc_b',
 'hsc_b',
 'hsc_s',
 'degree_t',
 'workex',
 'specialisation',
 'status']

In [7]:
quan

['sl_no', 'ssc_p', 'hsc_p', 'degree_p', 'etest_p', 'mba_p', 'salary']

In [9]:
dataset.describe()

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
count,215.000000,215.000000,215.000000,215.000000,215.000000,215.000000,148.000000
mean,108.000000,67.303395,66.333163,66.370186,72.100558,62.278186,288655.405405
std,62.209324,10.827205,10.897509,7.358743,13.275956,5.833385,93457.452420
min,1.000000,40.890000,37.000000,50.000000,50.000000,51.210000,200000.000000
25%,54.500000,60.600000,60.900000,61.000000,60.000000,57.945000,240000.000000
50%,108.000000,67.000000,65.000000,66.000000,71.000000,62.000000,265000.000000
75%,161.500000,75.700000,73.000000,72.000000,83.500000,66.255000,300000.000000
max,215.000000,89.400000,97.700000,91.000000,98.000000,77.890000,940000.000000

In [10]:
np.percentile(dataset["ssc_p"],25)

60.599999999999994

In [11]:
descriptive=pd.DataFrame(index=["Q1:25th","Q2:50th","Q3:75th","99th","Q4:100th","IQR","min","max","lower whister","upper whister"],columns=quan)
for columnName in quan:
    descriptive[columnName]["Q1:25th"]=dataset.describe()[columnName]["25%"]
    descriptive[columnName]["Q2:50th"]=dataset.describe()[columnName]["50%"]
    descriptive[columnName]["Q3:75th"]=dataset.describe()[columnName]["75%"]
    descriptive[columnName]["99th"]=np.percentile(dataset[columnName],99)
    descriptive[columnName]["Q4:100th"]=dataset.describe()[columnName]["max"]
    descriptive[columnName]["IQR"]=descriptive[columnName]["Q3:75th"]-descriptive[columnName]["Q1:25th"]
    descriptive[columnName]["min"]=dataset.describe()[columnName]["min"]
    descriptive[columnName]["max"]=dataset.describe()[columnName]["max"]
    descriptive[columnName]["lower whister"]=descriptive[columnName]["Q1:25th"]-(1.5*descriptive[columnName]["IQR"])
    descriptive[columnName]["upper whister"]=descriptive[columnName]["Q3:75th"]+(1.5*descriptive[columnName]["IQR"])

In [12]:
descriptive

                sl_no  ssc_p  hsc_p degree_p etest_p    mba_p    salary
Q1:25th          54.5   60.6   60.9     61.0    60.0   57.945  240000.0
Q2:50th         108.0   67.0   65.0     66.0    71.0     62.0  265000.0
Q3:75th         161.5   75.7   73.0     72.0    83.5   66.255  300000.0
99th           212.86   87.0  91.86    83.86    97.0  76.1142       NaN
Q4:100th        215.0   89.4   97.7     91.0    98.0    77.89  940000.0
IQR             107.0   15.1   12.1     11.0    23.5     8.31   60000.0
min               1.0  40.89   37.0     50.0    50.0    51.21  200000.0
max             215.0   89.4   97.7     91.0    98.0    77.89  940000.0
lower whister  -106.0  37.95  42.75     44.5   24.75    45.48  150000.0
upper whister   322.0  98.35  91.15     88.5  118.75    78.72  390000.0

In [8]:
def Univariate(dataset,quan):
    descriptive=pd.DataFrame(index=["mean","median","mode","Q1:25th","Q2:50th",
                                    "Q3:75th","99th","Q4:100th","IQR","min","max",
                                    "lower whister","upper whister","skewness","kurtosis","var","std"],columns=quan)
    for columnName in quan:
        descriptive[columnName]["mean"]=dataset[columnName].mean()
        descriptive[columnName]["median"]=dataset[columnName].median()
        descriptive[columnName]["mode"]=dataset[columnName].mode()[0]
        descriptive[columnName]["Q1:25th"]=dataset.describe()[columnName]["25%"]
        descriptive[columnName]["Q2:50th"]=dataset.describe()[columnName]["50%"]
        descriptive[columnName]["Q3:75th"]=dataset.describe()[columnName]["75%"]
        descriptive[columnName]["99th"]=np.percentile(dataset[columnName],99)
        descriptive[columnName]["Q4:100th"]=dataset.describe()[columnName]["max"]
        descriptive[columnName]["IQR"]=descriptive[columnName]["Q3:75th"]-descriptive[columnName]["Q1:25th"]
        descriptive[columnName]["min"]=dataset.describe()[columnName]["min"]
        descriptive[columnName]["max"]=dataset.describe()[columnName]["max"]
        descriptive[columnName]["lower whister"]=descriptive[columnName]["Q1:25th"]-(1.5*descriptive[columnName]["IQR"])
        descriptive[columnName]["upper whister"]=descriptive[columnName]["Q3:75th"]+(1.5*descriptive[columnName]["IQR"])
        descriptive[columnName]["skewness"]=dataset[columnName].skew()
        descriptive[columnName]["kurtosis"]=dataset[columnName].kurtosis()
        descriptive[columnName]["var"]=dataset[columnName].var()
        descriptive[columnName]["std"]=dataset[columnName].std()
    return descriptive

In [9]:
Univariate(dataset,quan)

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
mean,108.0,67.303395,66.333163,66.370186,72.100558,62.278186,288655.405405
median,108.0,67.0,65.0,66.0,71.0,62.0,265000.0
mode,1,62.0,63.0,65.0,60.0,56.7,300000.0
Q1:25th,54.5,60.6,60.9,61.0,60.0,57.945,240000.0
Q2:50th,108.0,67.0,65.0,66.0,71.0,62.0,265000.0
Q3:75th,161.5,75.7,73.0,72.0,83.5,66.255,300000.0
99th,212.86,87.0,91.86,83.86,97.0,76.1142,NaN
Q4:100th,215.0,89.4,97.7,91.0,98.0,77.89,940000.0
IQR,107.0,15.1,12.1,11.0,23.5,8.31,60000.0
min,1.0,40.89,37.0,50.0,50.0,51.21,200000.0
max,215.0,89.4,97.7,91.0,98.0,77.89,940000.0
lower whister,-106.0,37.95,42.75,44.5,24.75,45.48,150000.0
upper whister,322.0,98.35,91.15,88.5,118.75,78.72,390000.0
skewness,0.0,-0.132649,0.163639,0.244917,0.282308,0.313576,3.569747
kurtosis,-1.2,-0.60751,0.450765,0.052143,-1.08858,-0.470723,18.544273
var,3870.0,117.228377,118.755706,54.151103,176.251018,34.028376,8734295412.759695
std,62.209324,10.827205,10.897509,7.358743,13.275956,5.833385,93457.45242

# outliers

In [12]:
if(descriptive["hsc_p"]["min"]<descriptive["hsc_p"]["lower whister"]):
    print("outliers are present in the column")
else:
    print("outlier are not in the column")

outliers are present in the column

In [13]:
L_outliers=[]
G_outliers=[]
for columnName in quan:
    if(descriptive[columnName]["min"]<descriptive[columnName]["lower whister"]):
        L_outliers.append(columnName)
    if(descriptive[columnName]["max"]>descriptive[columnName]["upper whister"]):
        G_outliers.append(columnName)

In [14]:
L_outliers

['hsc_p']

In [15]:
G_outliers

['hsc_p', 'degree_p', 'salary']

In [37]:
def Outliers():
    L_outliers=[]
    G_outliers=[]
    for columnName in quan:
        if(descriptive[columnName]["min"]<descriptive[columnName]["lower whister"]):
            L_outliers.append(columnName)
        if(descriptive[columnName]["max"]>descriptive[columnName]["upper whister"]):
            G_outliers.append(columnName)
    return L_outliers,G_outliers

In [38]:
L_outliers

[]

In [39]:
G_outliers

[]

# replace of outliers

In [16]:
for columnName in L_outliers:
    dataset[columnName][dataset[columnName]<descriptive[columnName]["lower whister"]]=descriptive[columnName]["lower whister"]
for columnName in G_outliers:
    dataset[columnName][dataset[columnName]>descriptive[columnName]["upper whister"]]=descriptive[columnName]["upper whister"]

C:\Users\Admin\anaconda3\envs\AIcoures\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Admin\anaconda3\envs\AIcoures\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\Admin\anaconda3\envs\AIcoures\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\Admin\anaconda3\envs\AIcoures\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [ ]:
def replace():
    for columnName in L_outliers:
        dataset[columnName][dataset[columnName]<descriptive[columnName]["lower whister"]]=descriptive[columnName]["lower whister"]
    for columnName in G_outliers:
        dataset[columnName][dataset[columnName]>descriptive[columnName]["upper whister"]]=descriptive[columnName]["upper whister"]

In [17]:
descriptive=pd.DataFrame(index=["Q1:25th","Q2:50th","Q3:75th","99th","Q4:100th","IQR","min","max","lower whister","upper whister"],columns=quan)
for columnName in quan:
    descriptive[columnName]["Q1:25th"]=dataset.describe()[columnName]["25%"]
    descriptive[columnName]["Q2:50th"]=dataset.describe()[columnName]["50%"]
    descriptive[columnName]["Q3:75th"]=dataset.describe()[columnName]["75%"]
    descriptive[columnName]["99th"]=np.percentile(dataset[columnName],99)
    descriptive[columnName]["Q4:100th"]=dataset.describe()[columnName]["max"]
    descriptive[columnName]["IQR"]=descriptive[columnName]["Q3:75th"]-descriptive[columnName]["Q1:25th"]
    descriptive[columnName]["min"]=dataset.describe()[columnName]["min"]
    descriptive[columnName]["max"]=dataset.describe()[columnName]["max"]
    descriptive[columnName]["lower whister"]=descriptive[columnName]["Q1:25th"]-(1.5*descriptive[columnName]["IQR"])
    descriptive[columnName]["upper whister"]=descriptive[columnName]["Q3:75th"]+(1.5*descriptive[columnName]["IQR"])

In [18]:
descriptive

                sl_no  ssc_p   hsc_p degree_p etest_p    mba_p    salary
Q1:25th          54.5   60.6    60.9     61.0    60.0   57.945  240000.0
Q2:50th         108.0   67.0    65.0     66.0    71.0     62.0  265000.0
Q3:75th         161.5   75.7    73.0     72.0    83.5   66.255  300000.0
99th           212.86   87.0  91.129    83.86    97.0  76.1142       NaN
Q4:100th        215.0   89.4   91.15     88.5    98.0    77.89  390000.0
IQR             107.0   15.1    12.1     11.0    23.5     8.31   60000.0
min               1.0  40.89   42.75     50.0    50.0    51.21  200000.0
max             215.0   89.4   91.15     88.5    98.0    77.89  390000.0
lower whister  -106.0  37.95   42.75     44.5   24.75    45.48  150000.0
upper whister   322.0  98.35   91.15     88.5  118.75    78.72  390000.0

In [19]:
L_outliers=[]
G_outliers=[]
for columnName in quan:
    if(descriptive[columnName]["min"]<descriptive[columnName]["lower whister"]):
        L_outliers.append(columnName)
    if(descriptive[columnName]["max"]>descriptive[columnName]["upper whister"]):
        G_outliers.append(columnName)

In [20]:
L_outliers

[]

In [21]:
G_outliers

[]

# frequency

In [24]:
dataset["ssc_p"].value_counts()

62.00    11
63.00    10
67.00     9
73.00     9
52.00     9
         ..
63.40     1
63.30     1
73.96     1
77.67     1
65.20     1
Name: ssc_p, Length: 103, dtype: int64

In [25]:
freqtable=pd.DataFrame(columns=["Marks","Frequency","Relative_Frequency","Cumsum"])

In [26]:
freqtable

Empty DataFrame
Columns: [Marks, Frequency, Relative_Frequency, Cumsum]
Index: []

In [27]:
freqtable["Marks"]=dataset["ssc_p"].value_counts().index
freqtable["Frequency"]=dataset["ssc_p"].value_counts().values
freqtable["Relative_Frequency"]=freqtable["Frequency"]/103
freqtable["Cumsum"]=dataset["ssc_p"].cumsum()

In [28]:
def freqtable(columnName,dataset):
    freqtable=pd.DataFrame(columns=["Marks","Frequency","Relative_Frequency","Cumsum"])
    freqtable["Marks"]=dataset[columnName].value_counts().index
    freqtable["Frequency"]=dataset[columnName].value_counts().values
    freqtable["Relative_Frequency"]=freqtable["Frequency"]/103
    freqtable["Cumsum"]=dataset[columnName].cumsum()
    return freqtable

In [29]:
freqtable("mba_p",dataset)

     Marks  Frequency  Relative_Frequency    Cumsum
0    56.70          3            0.029126     58.80
1    59.47          2            0.019417    125.08
2    66.94          2            0.019417    182.88
3    61.29          2            0.019417    242.31
4    64.15          2            0.019417    297.81
..     ...        ...                 ...       ...
200  76.26          1            0.009709  12525.83
201  57.99          1            0.009709  12584.27
202  61.87          1            0.009709  12644.38
203  56.09          1            0.009709  12702.68
204  60.64          1            0.009709  12770.37

[205 rows x 4 columns]